.movieForm {
 
    padding: 20px;
    max-width: 400px;
    width: 400px;
   
    margin-bottom: 40px;
    
}
.filter-panel {
    padding: 20px;
    max-width: 400px;
    border: 1px solid grey;
   float: right;
    border-radius: 2%;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(119, 111, 111, 0.2);
    
}
.button-toggleView {
    margin-left: 20px;
}